[Unit]
Description=Finalize completed LingBot-VLA package A2D training

[Service]
Type=oneshot
ExecStart=/home/bjtc/Sophix/lingbot-vla/deploy/package_a2d_training_finalize.sh
